name: Patch Docker Image

on:
  workflow_call:
    inputs:
      image:
        description: The image name to patch
        required: true
        type: string
      target_image:
        description: The target name of the patched image
        required: true
        type: string
      tag:
        description: The image tag to patch
        required: true
        type: string
      target_tag:
        description: The target tag of the patched image
        required: true
        type: string
      ic_version:
        description: The IC version to label
        required: true
        type: string
      platforms:
        description: The platforms to patch
        required: true
        type: string

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  patch-image:
    name: Patch image
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Setup QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
        with:
          platforms: arm64

      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          token_format: access_token
          workload_identity_provider: ${{ secrets.GCR_WORKLOAD_IDENTITY }}
          service_account: ${{ secrets.GCR_SERVICE_ACCOUNT }}

      - name: Login to GCR
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: gcr.io
          username: oauth2accesstoken
          password: ${{ steps.auth.outputs.access_token }}

      - name: Apply OS patches to Container
        uses: docker/build-push-action@ee4ca427a2f43b6a16632044ca514c076267da23 # v6.19.0
        with:
          file: build/Dockerfile
          context: "."
          target: patched
          tags: "${{ inputs.target_image }}:${{ inputs.target_tag }}"
          platforms: ${{ inputs.platforms }}
          pull: true
          push: true
          build-args: |
            IMAGE_NAME=${{ inputs.image }}:${{ inputs.tag }}
            IC_VERSION=${{ inputs.ic_version }}
