name: "Bump the IC & Helm chart version"

on:
  workflow_dispatch:
    inputs:
      source_branch:
        required: true
        type: string
        default: "main"
      ic_version:
        required: true
        type: string
        default: "0.0.0"
      helm_chart_version:
        required: true
        type: string
        default: "0.0.0"

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  version-bump:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ inputs.source_branch }}

      - name: Replace Versions
        run: |
          yq -i e '.version = env(CHART_VERSION) | .appVersion = env(IC_VERSION)' charts/nginx-ingress/Chart.yaml
          cat charts/nginx-ingress/Chart.yaml
          cat > .github/data/version.txt << EOF
          IC_VERSION=${IC_VERSION}
          HELM_CHART_VERSION=${CHART_VERSION}
          EOF
          cat .github/data/version.txt
        env:
          IC_VERSION: ${{ inputs.ic_version }}
          CHART_VERSION: ${{ inputs.helm_chart_version }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Version Bump for ${{ github.event.inputs.ic_version }}
          title: Version Bump for ${{ github.event.inputs.ic_version }}
          branch: chore/version-bump-${{ github.event.inputs.ic_version }}
          labels: chore
          body: |
            This automated PR updates the NIC & Helm chart versions for the upcoming ${{ github.event.inputs.ic_version }} release.
